[build.environment]
  PYTHON_VERSION = "3.13"
  HUGO_VERSION = "0.148.2"
  DART_SASS_VERSION = "1.79.4"
  DART_SASS_URL = "https://github.com/sass/dart-sass/releases/download/"

[[plugins]]
  package = "netlify-plugin-checklinks"

  [plugins.inputs]
  recursive = true  # check links in subdirectories
  checkExternal = false  # we are already using Lychee to check external links
  # ignore pybamm.org/slack and pybamm.org/benchmarks
  skipPatterns = [
  "pybamm.org/slack",
  "pybamm.org/benchmarks"
  ]

[context.deploy-preview]
  ignore = "false"

[[redirects]]
  from = "/benchmarks"
  to = "https://pybamm-team.github.io/pybamm-bench/"
  status = 301

[[redirects]]
  from = "/slack"
  to = "https://join.slack.com/t/pybamm/shared_invite/zt-1xwnvkqrb-6ZKgB8yBU3zuzH91USdv_A"
  status = 301

[[redirects]]
  from = "/*"
  to = "/404/"
  status = 404
[build]
  base = "/"
  publish = "public"
  command = """\
    export DART_SASS_TARBALL="dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz" && \
    curl -LJO ${DART_SASS_URL}/${DART_SASS_VERSION}/${DART_SASS_TARBALL} && \
    tar -xf ${DART_SASS_TARBALL} && \
    rm ${DART_SASS_TARBALL} && \
    export PATH=/opt/build/repo/dart-sass:$PATH && \
    python3 -m pip install nox && \
    python -m nox -s clean && \
    python -m nox -s themes && \
    python -m nox -s html && \
    python -m nox -s search
    """
