{{ define "main" }}
<section class="content-padding">
  <div class="content-container">
    {{ partial "breadcrumbs.html" . }}
    <h1>{{ .Title }}</h1>
    {{ if .Params.Subtitle }}
    <h5 class="subtitle">{{ .Params.Subtitle }}</h5>
    {{ end }}
    <div>
    <div>
        <!-- override partial to add optional table of contents -->
        {{ if .Params.ToC }}
        <div>
        {{ .TableOfContents }}
        <p>
        </div>
        {{ end }}
    </div>
      {{ .Content }}
    </div>
  </div>
  {{ partial "shortcuts.html" . }}
</section>
{{ end }}
