/* White backgrounds behind images */

figure {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
}

/* Captions should be black above white background */

figure figcaption p span {
    color: black !important;
}

/* Let table of contents inherit the bounds set by the
content-container class */
#TableOfContents {
    position: inherit;
}

/*Making the buttons container flex*/
.custom-flex-btns{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
/*Customizing the buttons*/
.custom-flex-btns p a{
    display:block !important;
    min-width:40%!important;
    max-width:40%;
    text-decoration: none;
}

