<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{ if isset .Params 0 }}
        {{ $url := index .Params 0 }}
        {{ with try (resources.GetRemote $url) }}
            {{ with .Err }}
                {{ errorf "%s" . }}
            {{ else with .Value }}
                {{ with try (transform.Unmarshal .Content) }}
                    {{ with .Err }}
                        {{ errorf "Failed to unmarshal the response: %s" . }}
                    {{ else with .Value }}
                        {{ with .content }}
                            {{ . | base64Decode | replaceRE "(?m)^# (.+)$" "## $1" | markdownify }}
                        {{ else }}
                            {{ errorf "No 'content' field found in the response" }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ else }}
                {{ errorf "Unable to get remote resource %q" $url }}
            {{ end }}
        {{ end }}
    {{ else }}
        {{ errorf "You must provide a URL in the shortcode." }}
    {{ end }}
</body>
</html>
