<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{ if isset .Params 0 }}
        {{ $url := index .Params 0 }}
        {{ with resources.GetRemote $url }}
            {{ with .Err }}
                {{ errorf "%s" . }}
            {{ else }}
                {{ with . | transform.Unmarshal }}
                    {{ with .content }}
                        {{ . | base64Decode | replaceRE "(?m)^# (.+)$" "## $1" | markdownify }}
                    {{ else }}
                        {{ errorf "No 'content' field found in the response" }}
                    {{ end }}
                {{ else }}
                    {{ errorf "Failed to unmarshal the response" }}
                {{ end }}
            {{ end }}
        {{ else }}
            {{ errorf "Unable to get remote resource %q" $url }}
        {{ end }}
    {{ else }}
        {{ errorf "You must provide a URL in the shortcode." }}
    {{ end }}
</body>
</html>
