<!-- From https://buttons.github.io/ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/sponsors/pybamm-team"
        data-color-scheme="no-preference: light; light: light; dark: dark_high_contrast;" data-icon="octicon-heart"
        data-size="large" aria-label="Sponsor @pybamm-team on GitHub">Sponsor on GitHub</a>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>
