<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- data-width, data-height: ["pixels"], change dimensions of embedded timeline -->
    <!-- data-dnt: ["true", "false"], set to true to disable Twitter analytics (do not track) -->
    <!-- data-theme: ["dark", light"], TODO: change according to theme options -->
    <a class="twitter-timeline" data-lang="en" data-width="500" data-height="750" data-dnt="true" data-theme="light"
        href="https://twitter.com/pybamm_?ref_src=twsrc%5Etfw">
        Tweets by pybamm_
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>

</html>
