name: Check URLs with Lychee

on:
  push:
    branches:
      - main
  pull_request:
  schedule:
    - cron: "0 3 * * *"

jobs:
  Check-URLs:
    runs-on: ubuntu-latest
    steps:
      - name: Restore Lychee cache
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Link checker
        id: lychee
        uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0 # v2.7.0
        with:
          # Same as those in the PyBaMM repository
          args: |
            --cache
            --max-cache-age 3d .
            --verbose
            --no-progress
            --timeout 10
            --max-retries 5
            --skip-missing
            --exclude-loopback
            --exclude https://twitter.com/*
            --exclude "https://doi\.org|www.sciencedirect\.com/*"
            --exclude https://plausible.io/pybamm.org
            --exclude https://ecsarxiv.org/67ckj/
            --exclude https://scholar.google.com/
            --exclude-path ./static/teams/contributors.html
            --exclude-path ./content/gsoc/
            --accept 200,429,999
          format: markdown
          jobSummary: true
          fail: true
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}

      # TBD: automatically open an issue if any links fail
