# A workflow to run the generate_teams.py script in the CI weekly and create a pull request
name: Generate teams for PyBaMM

on:
  schedule:
    # Run every Monday at 03:15 AM UTC
    - cron: "15 3 * * 1"
  workflow_dispatch:

jobs:
  generate-teams:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive

      - name: Setup Python
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

      - name: Generate teams page(s)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: uvx nox -s teams

      # Will exit silently if there are no changes
      - name: Create pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          # Commit details
          commit-message: "Automated update for the Teams page"
          committer: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          author: github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>
          # Pull request details
          branch: "create-pull-request/generate-teams"
          branch-suffix: timestamp
          delete-branch: true
          base: "main"
          title: "Update teams weekly"
          body: "This pull request was automatically created by the CI workflow `teams.yml`."
          labels: "auto-generated"
          reviewers: |
            agriyakhetarpal
            Saransh-cpp
            valentinsulzer
            rtimms
          draft: false
